#lightModeOn {
    background-color: powderblue;
    color:rgb(9, 51, 56)
  }
#lightModeOff {
    background-color: rgb(9, 51, 56);;
    color: rgb(255, 255, 255);
}

#darkMode{
    position: absolute;
    top: 0px;
    right: 0px;
}

#randomBtn {
    position: relative;
    
}

